/*

font-family: 'Bungee Outline', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Libre Barcode 39 Extended Text', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;

*/

#highchart {
  width: 100%;
  height: 375px;
}

.highcharts-credits {
  display: none;
}

body {
  margin: 0px;
  color: #eaeaea;
  background-color: #11111b;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 200;
}

div {
  box-sizing: border-box;
}

.header {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: #1a1a28;
  height: 10vh;
  width: 100vw;
  padding-right: 40px;
  padding-top: 40px;
}

.header-banner {
  font-family: 'Shrikhand', cursive;
  /*color: #cc959c;*/
  color: #ff7a50;
  font-size: 45px;
}

.pageContentContainer {
  display: flex;
  height: 85vh;
}

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 85vw;
  padding: 40px 15px 15px;
  background-color: #1f1f2b;
  border-radius: 0px 3px 3px 0px;
  overflow-y: scroll;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  /*background-color: #11111b;*/
  width: 15vw;
  padding-top: 35px;
}

.goals-title {
  color: #ff7a50;
  font-size: 22px;
  font-family: 'Petit Formal Script';
  margin-top: 25px;
}

.progressBar {
  width: 200px;
  height: 50px;
  background-color: #40575a;
  margin-top: 25px;
  opacity: 0.85;
}

.progressBar:hover {
  background-color: #76a2a2;
  opacity: 1;
}

.photo {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  background-color: #47445a;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #080f10;
  height: 42vh;
  width: 37vw;
  padding: 25px;
  margin: 25px;
}

.card:hover {
  border: 1px dashed turquoise;
}

.card-title {
  color: #aeacbc;
  font-weight: bold;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #1a1a28;
  height: 5vh;
  padding-right: 15px;
  padding-bottom: 10px;
}

.log-out-link {
  color: #47445a;
  font-size: 18px;
  font-family: 'Petit Formal Script';
}

.log-out-link:hover,
.log-out-link:target,
.log-out-link:focus {
  color: #40575a;
}
