body {
  margin: 0px;
  color: #eaeaea;
  background-color: #10203b;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 200;
}

div {
  box-sizing: border-box;
  /*  margin: 0;
  padding: 0;*/
}

.header {
  background-color: #4f3915;
  height: 10vh;
}

.pageContentContainer {
  display: flex;
  height: 80vh;
}

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /*  justify-content: space-evenly;
  align-content: flex-start;*/
  height: 80vh;
  width: 80vw;
}

.sidebar {
  background-color: #10363b;
  height: 80vh;
  width: 20vw;
}

.card {
  background-color: #15484f;
  height: 25vh;
  width: 25vw;
  /*margin: auto;*/
}

.footer {
  background-color: #3b1610;
  height: 10vh;
}
